.gridcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    text-decoration: none ;
}
.divider{
    width: 90%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}